@import url("https://fonts.googleapis.com/css?family=Lato|Press+Start+2P&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono');

body {
    background-color: black;
    font-family: 'Share Tech Mono', monospace;
}

#outer {
    display: inline-block;
    position: relative;
}

#inner {
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 6;
    pointer-events: none;
}

canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* Controls -------------------------- */
.controls {
    position: absolute;
    top: 35%;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.label {
    position: relative;
    left: 14%;
}

.label h1 {
    color:rgba(255, 255, 255, 1);
    font-family: 'Share Tech Mono', monospace;
}

.keys {
    position: relative;
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 175px;
    gap: 10px;
    padding: 10px;
}

.aligned {
    display: flex;
    align-items: center;
}

.aligned img {
    width: 50px;
}

.aligned span {
    padding: 10px;
    color: white;
    font-size: 20px;
}


/* Header -------------------------- */
.header {
    position: fixed;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 15px;
    top: 7.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.header h1 {
    font-size: 50px;
    color:rgba(255, 255, 255, 1);
    border-bottom: 2px solid #fff;
    line-height: 2;
}

.header h3 {
    font-size: 25px;
    font-family: 'Share Tech Mono', monospace;
}
  