/*
Not the best to have each do the same
Only like this because I thought about
customizing each section more
*/

/* Home ------------------------------ */
.home p
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}

/* About ------------------------------ */
.about p
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}

/* Service ------------------------------ */
.service p
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}

/* Portfolio ------------------------------ */
.portfolio p
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}

/* Contact ------------------------------ */
.contact p
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}



