Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# Redirect URLs with .html extension to URLs without .html extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)\.html$ /$1 [NC,L,R]

# Serve pages with .html extension
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L]
